{% extends "bootstrap/base.html" %}

{% block title %}Hanzi{% endblock %}

{% block head %}
{{ super() }}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chinese.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='typicons.min.css') }}" />
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hanzi</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      {% if current_user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
	<li><a href="{{ url_for('main.user') }}">{{ current_user.username }}</a></li>
	<li><a href="#"><i class="typcn typcn-weather-sunny"><span class="badge">{{ current_user.cur_xpoints}}</span></i></a></li>
	<li><a href="#"><i class="typcn typcn-flash"><span class="badge">{{ current_user.streak }}</span></i></a></li>
	<li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
      {% else %}
      <!--
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
      -->
      <ul class="nav navbar-nav navbar-right">
	<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	<li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      {% endif %}
    </div><!--/.navbar-collapse -->
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% block page_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
{% endblock %}
