{% extends "base.html" %}

{% block meta %}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1.">
{% endblock %}

{% block title %}Hanzi - {{ book }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='chinese.css') }}">
{% endblock %}


{% block page_content %}
<div id="wordapp">
  <!-- div class="jumbotron" -->
    <div class="page-header">
      <h1>书：{{ book }}</h1>
    </div>

    <div>
      <h4>
	<span class="score-cell">{{ user.session_date }}</span>
	<span class="score-cell"><i class="typcn typcn-flag"></i>[[ cur_xpoints ]]</span>
	<span class="score-cell"><i class="typcn typcn-flash"></i>[[ streak ]]</span>
	<span class="score-cell"><i class="typcn typcn-weather-sunny"></i>[[ streak ]]</span>
	<!-- span class="score-cell"><i class="typcn typcn-weather-downpour"></i>1</span -->
      </h4>
      <!-- p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p -->
    </div>
  <!-- /div -->
<div class="progress" style="height: 3px">
  <div class="progress-bar" role="progressbar" value="20" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width: percent + '%'}">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
    <div>
      <ul class="pager">
	<li class="previous"><a href="#" v-on:click="iword=Math.max(0, iword-3)">&larr; Older</a></li>
	<li class="next"><a href="#" v-on:click="iword=(words.length <= iword+3 ? iword : iword+3)">Newer &rarr;</a></li>
      </ul>
    </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" v-for="w in active_words">
      <div :class="['word-box', 'border', 'border-' + word_status(w)]">
	<div class="well"><p :class="['word-cell', 'text-' + word_status(w)]">[[ w.word ]]</p></div>
	<p class="word-info">XP: <span :class="['text-' + word_status(w)]"><strong>[[ w.cur_xpoints ]]</strong></span>, P/F = <span :class="['text-' + word_status(w)]"><strong>[[ w.num_pass ]]</strong></span> / <span :class="['text-' + word_status(w)]"><strong>[[ w.num_fail ]]</strong></span>, <i class="typcn typcn-flash">[[ w.streak ]]</i>. Study: <span>[[ w.study_date ]]</span></p>
	<p>
	  <button class="submit-ans btn btn-primary" role="button" v-on:click="adj_score(w, 2)"><span class="glyphicon glyphicon-thumbs-up"></span><span class="glyphicon glyphicon-thumbs-up"></span></button>
	  <button href="#" class="submit-ans btn btn-primary" role="button" v-on:click="adj_score(w, 1)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
	  <button href="#" class="submit-ans btn btn-danger" role="button" v-on:click="adj_score(w, -1)"><span class="glyphicon glyphicon-thumbs-down"></span></button>
	</p>
      </div>
    </div>
  </div>
</div> <!-- app -->
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
var app = new Vue({
  el: '#wordapp',
  delimiters: ['[[', ']]'],
  data: {
    words: {{ words | tojson | safe }},
    iword: 0,
    num_thumbs_up: 0,
    cur_xpoints: {{ user.cur_xpoints }},
    tot_xpoints: {{ user.tot_xpoints }},
    streak: {{ streak }},
    tot_days: 0,
    first_day: 99991231,
    today: 19700101,
    book: "{{ book }}",
  },
  computed: {
    num_pass: function() { return _.sumBy(this.words, function(o) { return o.score > 0 ? 1 : 0; }); },
    num_fail: function() { return _.sumBy(this.words, function(o) { return o.score < 0 ? 1 : 0; }); },
    active_words: function() {
      return _.slice(this.words, this.iword, this.iword + 3);
    },
    percent: function() {
      var n_per_page = 3;
      return (this.iword+3)*100/(Math.ceil(this.words.length/3)*3);
    }
  },
  watch: {
    iword: function(val) {
      passCurPage = 0;
    },
  },
  methods: {
    adj_score: function(w, n) {
      if (w.score != 0) return;
      var self = this;
      $.ajax({
	type: 'POST',
	url: './save',
	contentType:"application/json",
	data: JSON.stringify({ word: w, xpoints: n}),
	dataType: 'json',
	success: function(data) {
          console.log("saved!", data);
          self.cur_xpoints += n;
          self.tot_xpoints += n;
          w.cur_xpoints += n;
          console.log(this.cur_xpoints);
	},
	error: function(data) { console.log("ERROR", data); },
      });
    },
    word_status: function(w) {
      if (w.cur_xpoints > 0) return "primary";
      if (w.cur_xpoints < 0) return "danger";
      return "";
    },
    dateFormat: function(str) {
      if (str) {
	var date = new Date(str);
	return date.getFullYear() + "-" + (1+date.getMonth()) + '-' + date.getDate() + " " + date.getHours() + ":" + Math.floor(date.getMinutes() / 10) + date.getMinutes() % 10;
      } 
      return "";
    },
    status: function(word) {
      if (word.cur_xpoints == 0) return 'new';
      else if (word.cur_xpoints < 0) return 'fail';
      else return 'pass';
    },
    saveWords: function(words) {
    }
  },
  mounted: function() {
    console.log("passed ?");
  },
})
</script>
{% endblock %}

