.main-charword {
    font-size: 200px;
    font-family: Georgia, "Times New Roman", KaiTi, STKaiti, serif;
}

div.container {
    /* float: left; */
    width: 500px;
}
div.word {
    /* width: 300px; */
    padding: 5px;
}

div.control button {
    display: inline-block; /* width: 800px; */
}

div.toolset {
    padding-left: 3px;
}
div.word-box {
    clear: left;
    margin: 15px 5px 15px 2px;
    padding: 5px 5px;
}
div.word-world {
    border: 1px solid;
    border-radius: 10px;
    margin: 2px;
    overflow: auto;
}

p.word-cell {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100px;
    line-height: 220px;
    white-space: nowrap;
    font-family: Adobe Kaiti Std,STKaiti,KaiTi,BiauKai,"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,AR PL UKai CN;
}

button.btn-answer {
    padding: 3px 4px;
}

pre.word-cell.wrong {
    color: red;
}

pre.word-cell.pass {
     color: blue;
}

div.control button {
    margin: 5px 5px 0px 5px;
    /* width: 80px; */
}

.label-purple {
    background-color: #800080;
}

span.label.label-points {
    margin: 5px 10px 0px 10px;
}

#thumbs-up { margin: 0px 5px; }
#thumbs-down { margin: 0px 5px; }
