body {
    padding-top: 50px;
}

.main-charword {
    font-size: 200px;
    font-family: Georgia, "Times New Roman", KaiTi, STKaiti, serif;
}

div.word {
    /* width: 300px; */
    padding: 5px;
}

div.control button {
    display: inline-block; /* width: 800px; */
}

div.toolset {
    padding-left: 3px;
}
div.word-box {
    clear: left;
    margin: 15px 5px 15px 2px;
    padding: 5px 5px;
    border: 1px solid;
    border-radius: 10px;
    margin: 2px;
}

div.word-cell {
    border: 1px solid;
    border-radius: 10px;
    margin: 2px;
}

span.typcn {
    font-size: 36px;
}
p.cizu span.cizu {
  padding: 3px 10px;
  font-size: 20px;
}
button.submit-ans {
    padding: 0px 5px;
    margin-left: 5px;
    margin-right: 5px;
}
span.score-cell {
    padding: 0px 10px;
}
span.score-cell i {
    margin: 0px 10px;
}

p.word-cell.pass {
    color: blue;
}

p.word-cell.fail {
    color: red;
}
p.word-cell.pass {
     color: blue;
}
div.word-world {
    border: 1px solid;
    border-radius: 10px;
    margin: 2px;
    overflow: auto;
}

p.word-cell {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100px;
    line-height: 120px;
    white-space: nowrap;
    font-family: Adobe Kaiti Std,STKaiti,KaiTi,BiauKai,"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,AR PL UKai CN;
}

h2.the-word {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100px;
    line-height: 120px;
    white-space: nowrap;
    font-family: Adobe Kaiti Std,STKaiti,KaiTi,BiauKai,"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,AR PL UKai CN;
}

button.btn-answer {
    padding: 3px 4px;
}

pre.word-cell.wrong {
    color: red;
}

pre.word-cell.pass {
     color: blue;
}

div.control button {
    margin: 5px 5px 0px 5px;
    /* width: 80px; */
}

.label-purple {
    background-color: #800080;
}

span.label.label-points {
    margin: 5px 10px 0px 10px;
}

span.word-related {
    padding: 2px 5px;
}

#thumbs-up { margin: 0px 5px; }
#thumbs-down { margin: 0px 5px; }
