<html>
<head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
<link rel="stylesheet" href="/static/chinese.css">
<meta name="viewport" content="width=device-width, initial-scale=1.">
<!-- link rel="stylesheet" href="{{ url_for('static', filename='chinese.css') }}" -->
</head>
<body>
<div id="wordapp">
<nav aria-label="Page navigation">
  <ul class="pagination">
    <!-- li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li -->
    <li v-for="d in reviewDays">
      <a class="review" :href="'./review/' + d">{{ d }}</a>
    </li>
  </ul>
</nav>

  <h1><a href="http://zetta.mooo.com:8000/chinese/">Chinese {{ today }}</a></h1>
  <div>
    <select v-model="bookSelected">
      <option disabled value="">Select a book</option>
      <option v-for="book in bookList" v-bind:value="book">{{book}}</option>
    </select>
    <span>use book: {{ bookSelected }}</span>
  </div>
  <h3>Earned POINTS: <span :class="['label', 'label-points', points > 0 ? 'label-purple' : 'label-danger']"><span class="glyphicon glyphicon-star"></span>{{ points }}</span><button id="thumbs-up" type="button" class="btn btn-lg btn-secondary" v-on:click="points += 3"><span class="glyphicon glyphicon-thumbs-up"></span></button><button id="thumbs-down" type="button" class="btn btn-lg btn-secondary" v-on:click="points -= 3"><span class="glyphicon glyphicon-thumbs-down"></span></button>
  </h3>
  passed: {{passed}}, failed: {{failed}}. <span id="wordId">Displayed {{ iword }} out of {{ filterWords.length }}</span>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-8">
      <!-- button type="button" class="btn btn-lg btn-primary" --
	-- v-on:click="showNextList()">Next</button -->
    <ul class="pager">
      <li v-on:click="iword=Math.max(0, iword-wordsPerPage)"><a href="#">Prev</a></li>
      <li v-on:click="iword=0"><a href="#">First</a></li>
      <li v-on:click="iword=iwordLast"><a href="#">Last</a></li>
      <li v-on:click="iword=Math.min(words.length, iword+wordsPerPage)"><a href="#">Next</a></li>
    </ul>
    </div>
  </div>

  <div class="form-group checkbox">
    <label for="skipNewWords"><input class="" name="skipNewWords" type="checkbox" v-model="skipNewWords">Skip New Words</label>
  </div>
<div class="" v-for="(word,iw) in wordList">
  <div class="word-box" v-if="show(word)">
    <!-- span>{{ word.wordId }}</span -->
    <form method="post" action="http://www.chinese-dictionary.org" class="inline">
      <div class="toolset col-xs-2">
	<div class="control raw">
	  <button id="btn-pass" type="button" name="stat-pass" class="btn btn-success btn-block" v-on:click="markPoints(word, 10)" :disabled="word.score > 0">Pass</button>
	  <button id="btn-pass" type="button" name="stat-pass" class="btn btn-success btn-block" v-on:click="markPoints(word, 2)" :disabled="word.score > 0">Guessed(+2)</button>
          <input type="hidden" name="dico" :value="word.word"></input>
          <input type="hidden" name="dl" value="en"></input>
	  <button type="submit" class="btn btn-default btn-block" name="search-word" value="submit_value">Search</button>
	  <button id="btn-fail" type="button" name="stat-fail" class="btn btn-danger btn-block" v-on:click="markPoints(word, -10)" :disabled="word.score < 0">Fail</button>
	  <button id="btn-skip" type="button" name="stat-skip" class="btn btn-default btn-block" v-on:click="skipWord(word)">Skip</button>
	  <button id="btn-skip" type="button" name="stat-fail" class="btn btn-default btn-block" v-on:click="markPoints(word, 1000000)" :disabled="word.score < 0">IgnoreForEver</button>
        </div>
      </div>
      <div class="word col-xs-10"><pre id="word" v-bind:class="['word-cell', status(word)]">{{ word.word }}</pre>
	<p id="wordStat"> id={{word.wordId}}, freq={{ word.ifreq }}, points=<span :class='{label: true, "label-danger": word.points < 0, "label-default": word.points >= 0}'>{{ word.points + word.score }}</span> ({{ dateFormat(word.dateStudy) }})</br>
	课文: {{ word.books }}</p>
      </div>
    </form>
  </div>
</div>
<!-- button id="btn-save" type="button" name="stat-save" class="btn btn-primary btn-lg" v-on:click="saveWords()">Save</button -->


  <div class="row">
    <div class="col-xs-12">
      <!-- button type="button" class="btn btn-lg btn-primary" --
	-- v-on:click="showNextList()">Next</button -->
    <ul class="pager">
      <li v-on:click="iword=Math.max(0, iword-wordsPerPage)"><a href="#">Prev</a></li>
      <li v-on:click="iword=0"><a href="#">First</a></li>
      <li v-on:click="points += 3"><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a></li>
      <li v-on:click="points -= 3"><a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a></li>
      <li v-on:click="iword=iwordLast"><a href="#">Last</a></li>
      <li v-on:click="iword=Math.min(words.length, iword+wordsPerPage)"><a href="#">Next</a></li>
    </ul>
    </div>
  </div>

<div id="footer">
<ul>
  <li>{{ today }}, total days: {{ totalStudyDays }}/{{totalDays}}, first day: {{ firstDay }}</li>
  <li>pass: {{passed}}, fail: {{failed}}, passed this page: {{ passCurPage }}</li>
  <li>Total points: <span class="label label-default">{{ totalPoints + points }}</span>, Today's points: <span class="label label-purple">{{ points }}</span></li>
</ul>

  <div class="container">
    <p class="text-muted credit">Developed by Z. Forest</p>
  </div>
</div>
</div>

<script src="/static/app.js"></script>

</body>
</html>
